/* DOCUMENT PREPARATION */

*, 
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
    background-color: dimgray;
}

/* END DOCUMENT PREPARATION */


/* NAVIGATION */

.nav-head {
    display: table;
    width: 100%;
    background: #eee;
    box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

/* LEFT SIDE LOGO */

.logo {
    display: table-cell;
    width: 1%;
    padding: 5px 0px 5px 20px;
    vertical-align: middle;
}

.logo-inner {
    width: 300px;
    height: 40px;
    background: #444;
    border-radius: 10%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    cursor: default;
    font-family: Georgia, serif;
    font-style: italic;
}

/* END LEFT SIDE LOGO */


/* RIGHT SIDE MENU */

.menu {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}  

.menu-inner {
    padding: 0;
    margin: 0 20px;
    list-style: none;
    font-size: 0;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.menu-item {
    display: inline-block;
    font-size: 1rem;
}

.menu-item + .menu-item {
    border-left: 1px solid #bbb;
}

.menu-link {
    display: block;
    padding: 10px 20px;
    background: #888;
    color: white;
    text-decoration: none;
}

.menu-link:hover {
    background: #444;
}

/* END RIGHT SIDE MENU */

/* END NAVIGATION */


/*MAJOR SECTIONS (left and right side of calendar view) */
  
  article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  section {
    height: auto;
    background: seashell;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  section.big {
    width: 80%;
    overflow-x: scroll;
    overflow-y: none;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  section.small {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: 20%;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: lightgray;
    border: 1px solid black;
    border-right: 1px solid black;
  }

 /*END MAJOR SECTIONS */


/* PROJECT NAMES - LEFT SIDE OF THE CALENDAR STYLING */

 .proj-names-header {
    flex-direction: column;
    -ms-flex-direction: column;
    height: 5.1em;
    background: slategray;
    text-align: center;
    border-bottom: 1px solid black;
}

.proj-names-body {
    display: flex;
    background: lightgray;
    flex-direction: row;
    -ms-flex-direction: row;
}
  .project-names {
    text-align: center;
}


.proj-name-cell {
    width: 100%;
    border-top: 2px solid rgba(0,0,0,0);
    border-bottom: 2px solid rgba(0,0,0,0);
    font-weight: bold;
    margin-right: 0;

}

/* END PROJECT NAMES */

/* WEEK HEADING - AND WEEK NUMBER CONTAINER AND WEEK NUMBER CELLS */

#week-translate {
    position: absolute;
    background: slategrey;
    width: 64%;
   /* max-height: 3.8em;*/
    text-align: center;
    margin-left: 16%;
    /*margin-top: 5%; */
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.week-number-header {
    margin-top: 3.5em;
}

.week-cal-cells {
    border-top: 2px solid rgba(0,0,0,0);
    border-right: 2px solid rgba(0,0,0,0);
    min-width: 1.5em;
    max-width: 1.5em;
    text-align: center;
    background: cadetblue;
    vertical-align: middle;
    height: 1.45em;
}

/* END WEEK HEADING */


/* FULL TIME EMPLOYEE CAPACITY TABLE, BODY OF MAIN (RIGHT) SECTION */

.fte {
      display: flex;
      flex-direction: row;
      -ms-flex-direction: row;
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
  }


  .fte-cell {
    max-width: 1.5em; 
    min-width:1.5em; 
    border-top: 2px solid rgba(0,0,0,0); 
    border-bottom: 2px solid rgba(0,0,0,0); 
    border-right: 1px solid rgba(0,0,0,0); 
    font-weight: bold; 
    margin-left: 0;
    text-align: center;
  }

/*END OF FULL TIME EMPLOYEE CAPACITY TABLE */








